/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'rockwell', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  width: 100%;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 15px 0px;
  background: #F6F6F6;
}
@media (max-width: 700px) {
  nav {
    flex-flow: column;
    align-items: center;
  }
}
nav .logo {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 700px) {
  nav .logo {
    flex-flow: column;
    align-items: center;
    margin-bottom: 10px;
  }
}
nav .logo a {
  text-decoration: none;
  color: #23293B;
  font-family: 'rockwell', sans-serif;
  font-size: 3.2rem;
}
nav .links {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 700px) {
  nav .links {
    flex-flow: column;
    align-items: center;
  }
}
nav .links a {
  font-size: 24px;
  margin-right: 30px;
  text-decoration: none;
  color: #23293B;
  font-family: 'rockwell', sans-serif;
}
@media (max-width: 700px) {
  nav .links a {
    margin-right: 0px;
    margin-top: 5px;
  }
}
nav .links a:hover {
  cursor: pointer;
  opacity: 0.8;
}
.header {
  background: url("../img/hero-image-mountain.jpg") no-repeat center top;
  background-size: cover;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}
.header h1 {
  text-align: center;
  font-size: 4.4rem;
  padding-bottom: 30px;
  color: white;
  text-shadow: grey 2px 2px;
}
.header h2 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 20px;
  color: white;
  text-shadow: grey 2px 2px;
}
.header .headerButtons {
  padding: 20px 0px;
}
@media (max-width: 500px) {
  .header .headerButtons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}
.header .headerButtons .button1 {
  margin: 10px 30px;
  color: white;
  background: green;
  font-family: 'rockwell', sans-serif;
  font-size: 1.4rem;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
  border: solid 1px green;
  opacity: 0.8;
}
.header .headerButtons .button1:hover {
  cursor: pointer;
  color: white;
  background: green;
  font-family: 'rockwell', sans-serif;
  font-size: 1.4rem;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
  opacity: 1;
}
.header .headerButtons .button2 {
  margin: 10px 30px;
  color: green;
  background: #ffffff80;
  font-family: 'rockwell', sans-serif;
  font-size: 1.4rem;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
  border: solid 1px green;
}
.header .headerButtons .button2:hover {
  cursor: pointer;
  color: green;
  background: #ffffff95;
  font-family: 'rockwell', sans-serif;
  font-size: 1.4rem;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
}
.cta {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  padding: 100px 0px;
  border-bottom: 1px #ccc solid;
}
.cta h2 {
  margin-bottom: 20px;
  text-align: center;
}
.cta h3 {
  color: grey;
  margin-bottom: 20px;
  font-size: 2rem;
}
.cta .line {
  width: 100px;
  border-bottom: 2px solid green;
  margin-bottom: 20px;
}
.cta p {
  font-size: 1.6rem;
  margin-bottom: 20px;
  text-align: center;
  padding: 0 10px;
}
.cta a {
  color: white;
  background: blue;
  font-family: 'rockwell', sans-serif;
  font-size: 1.4rem;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
  border: solid 1px blue;
}
.cta a:hover {
  color: blue;
  background: white;
  font-family: 'rockwell', sans-serif;
  font-size: 1.4rem;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
  border: solid 1px blue;
}
.app-features {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  padding: 100px 0px;
  border-bottom: 1px #ccc solid;
}
.app-features h2 {
  margin-bottom: 20px;
}
.app-features h3 {
  color: grey;
  margin-bottom: 20px;
  font-size: 2rem;
}
.app-features .line {
  width: 100px;
  border-bottom: 2px solid green;
  margin-bottom: 40px;
}
.app-features .app-features-grid {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  padding: 0px 15%;
}
.app-features .app-features-grid .app-features-box {
  width: 27%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 20px 5px;
}
@media (max-width: 500px) {
  .app-features .app-features-grid .app-features-box {
    width: 80%;
  }
}
.app-features .app-features-grid .app-features-box h3 {
  font-size: 2rem;
  color: darkgreen;
}
.app-features .app-features-grid .app-features-box p {
  text-align: center;
  font-size: 14px;
}
.app-features .app-features-grid .app-features-box svg {
  color: darkgreen;
  font-size: 44px;
  margin-bottom: 20px;
}
.cta-banner {
  display: flex;
  justify-content: space-between;
  background: lightseagreen;
  padding: 40px 0;
}
@media (max-width: 700px) {
  .cta-banner {
    flex-flow: column;
    align-items: center;
  }
}
.cta-banner .left-side {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
@media (max-width: 700px) {
  .cta-banner .left-side {
    margin-bottom: 20px;
  }
}
.cta-banner .left-side h2 {
  display: block;
  color: white;
  margin-bottom: 15px;
}
@media (max-width: 700px) {
  .cta-banner .left-side h2 {
    text-align: center;
  }
}
.cta-banner .left-side h3 {
  display: block;
  color: white;
  font-size: 1.4rem;
}
.cta-banner .right-side {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.cta-banner .right-side a {
  color: white;
  background: transparent;
  font-family: 'rockwell', sans-serif;
  font-size: 1.4rem;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
  width: 300px;
  border: solid 1px white;
  opacity: 0.8;
}
.cta-banner .right-side a:hover {
  color: white;
  background: #ffffff50;
  font-family: 'rockwell', sans-serif;
  font-size: 1.4rem;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
  opacity: 1;
  width: 300px;
  border: solid 1px white;
}
.devices {
  background: url("../img/footer-picutre.png") no-repeat center top;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  padding: 50px;
}
.devices .aside {
  padding-right: 40%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
@media (max-width: 700px) {
  .devices .aside {
    padding-right: 0;
  }
}
.devices .aside h2 {
  color: white;
  margin-bottom: 10px;
}
@media (max-width: 700px) {
  .devices .aside h2 {
    margin-bottom: 5px;
    text-align: center;
  }
}
.devices .aside p {
  color: white;
  margin-bottom: 35px;
}
@media (max-width: 700px) {
  .devices .aside p {
    margin-bottom: 10px;
    text-align: center;
  }
}
.devices .aside .line {
  width: 100px;
  border-bottom: 2px solid green;
  margin-bottom: 40px;
}
@media (max-width: 700px) {
  .devices .aside .line {
    margin-bottom: 10px;
  }
}
.devices .aside img {
  width: 100px;
  border: 1px solid white;
  border-radius: 5px;
}
.devices .aside img:hover {
  cursor: pointer;
}
.devices .button {
  color: white;
  background: green;
  font-family: 'rockwell', sans-serif;
  font-size: 1.4rem;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
}
.devices .button:hover {
  color: white;
  background: hsl(120, 100%, 30.09803922%);
  font-family: 'rockwell', sans-serif;
  font-size: 1.4rem;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
}
.the-team {
  padding: 40px 0px;
  background: url("../img/about-page-forest.jpg") center top no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-attachment: fixed;
}
.the-team .team-header {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.the-team .team-header h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 15px;
  color: #fff;
  text-shadow: black 2px 2px;
}
.the-team .team-header h2 {
  text-align: center;
  color: #fff;
  text-shadow: black 2px 2px;
  margin-bottom: 20px;
  font-size: 4rem;
}
.the-team .team-header svg {
  font-size: 60px;
  color: #fff;
  text-align: center;
}
.the-team .team-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 30px 5%;
}
.the-team .team-grid .single-team-box {
  width: 20%;
  min-width: 250px;
  margin: 10px;
}
.the-team .team-grid .single-team-box .img-holder {
  background: #ffffff80;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px;
}
.the-team .team-grid .single-team-box .img-holder img {
  width: 100%;
  border-radius: 100%;
}
.the-team .team-grid .single-team-box .team-text {
  background: #2f4f4f99;
  color: #fff;
  padding: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.the-team .team-grid .single-team-box .team-text h3 {
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
  font-size: 2.2rem;
}
.the-team .team-grid .single-team-box .team-text h4 {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.the-team .team-grid .single-team-box .team-text .line {
  border-bottom: 2px solid #fff;
  width: 100px;
  text-align: center;
  margin-bottom: 10px;
}
.the-team .team-grid .single-team-box .team-text p {
  margin-bottom: 15px;
}
.the-team .team-grid .single-team-box .team-text svg {
  font-size: 3.2rem;
  color: #fff;
  margin-bottom: 15px;
}
.the-team .team-grid .single-team-box .team-text svg:hover {
  color: #ccc;
}
footer {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
  background: #23293B;
}
footer p {
  color: #81848E;
  font-size: 1.2rem;
}
footer a {
  color: #81848E;
  text-decoration: none;
  margin-right: 10px;
}
footer a:hover {
  color: white;
}
