/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'rockwell', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  width: 100%;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  background: #F6F6F6;
}
nav .logo {
  width: 20%;
  display: flex;
  justify-content: center;
}
nav .links {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}
nav .links a {
  font-size: 24px;
  margin-right: 30px;
  text-decoration: none;
  color: #23293B;
  font-family: 'rockwell', sans-serif;
}
nav .links a:hover {
  cursor: pointer;
}
.header {
  background: url("../img/hero-image-mountain.jpg") no-repeat center top;
  background-size: cover;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}
.header h1 {
  text-align: center;
  font-size: 4.4rem;
  padding-bottom: 30px;
  color: white;
  text-shadow: grey 2px 2px;
}
.header h2 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 20px;
  color: white;
  text-shadow: grey 2px 2px;
}
.header .headerButtons {
  padding: 20px 0px;
}
.header .headerButtons .button {
  margin: 30px;
  color: white;
  background: green;
  font-family: 'rockwell', sans-serif;
  font-size: 1.4rem;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
  opacity: 0.7;
}
.header .headerButtons .button:hover {
  cursor: pointer;
  color: green;
  background: white;
  font-family: 'rockwell', sans-serif;
  font-size: 1.4rem;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
  opacity: 0.7;
}
.cta {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  padding: 100px 0px;
  border-bottom: 1px #ccc solid;
}
.cta h2 {
  margin-bottom: 20px;
}
.cta h3 {
  color: grey;
  margin-bottom: 20px;
  font-size: 2rem;
}
.cta .line {
  width: 100px;
  border-bottom: 2px solid green;
  margin-bottom: 20px;
}
.cta p {
  width: 600px;
  font-size: 1.6rem;
  margin-bottom: 20px;
}
.cta a {
  color: white;
  background: blue;
  font-family: 'rockwell', sans-serif;
  font-size: 1.4rem;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
  opacity: 0.7;
  border: solid 1px blue;
}
.cta a:hover {
  color: blue;
  background: white;
  font-family: 'rockwell', sans-serif;
  font-size: 1.4rem;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
  opacity: 0.7;
  border: solid 1px blue;
}
