//Home Contents

//Header-Hero Image
.header {
    background: url("../img/hero-image-mountain.jpg") no-repeat center top;
    background-size: cover;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    h1 {
        text-align: center;
        font-size: 4.4rem;
        padding-bottom: 30px;
        color: white;
        text-shadow: grey 2px 2px;
    }
    h2 {
        text-align: center;
        font-size: 2.0rem;
        padding-bottom: 20px;
        color: white;
        text-shadow: grey 2px 2px;
    }
    .headerButtons {
        padding: 20px 0px;

        .button {
            margin: 30px;
            .buttonMixin(@button-color, white);

            &:hover {
                cursor: pointer;
                .buttonMixin(white, @button-color);
            }
        }
    }

}